// В этом файле должны быть стили для БЭМ-блока team-tile, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.team-tile {
	&__avatar {
		border-radius: 50%;
		box-shadow: var(--shadow_large);
		display: block;
		height: 16rem;
		margin: 0 auto;
		width: 16rem;
	}
	&__info {
		margin-top: 1rem;
		@media screen and (min-width: $screen-d) {
			margin-top: 2.5rem;
		}
	}
	&__name {
		color: var(--emerald_primary);
		font-size: 2.5rem;
		font-weight: 300;
		letter-spacing: 0.01em;
		line-height: 1;
		text-align: center;
		span {
			display: block;
			font-weight: 700;
			margin-bottom: .5rem;
		}
	}
	&__descr {
		color: var(--black_tertiary);
		font-size: 1.5rem;
		font-weight: 400;
		letter-spacing: 0.01em;
		line-height: 1.33;
		margin-top: 1rem;
		text-align: center;
	}
}
