extends ../pug/layout_default.pug

block variables
	- var isMainPage = false;

block pageMain
	section.er404
		.grid
			.er404__inner
				.er404__title(data-aos='fade-up', data-aos-duration='750') 404
				.er404__descr(data-aos='fade-up', data-aos-duration='750', data-aos-delay='500') Такой страницы не существует
				.er404__descr(data-aos='fade-up', data-aos-duration='750', data-aos-delay='750') Перейти на #[a(href='index.html') главную страницу]
