extends ../pug/layout_default.pug

block variables
	- var isMainPage = true;
	- var pageMainPT = false;

block pageMain
	section.hero(data-aos='fade-in', data-aos-duration='500', data-aos-delay='500')
		.grid
			.hero__inner
				.hero__slider(data-aos='fade-right', data-aos-duration='750', data-aos-delay='1000')
					+hero-slider([
						{
							'title': 'Крупнейший независимый брокер на рынке нефтепродуктов',
							'button': 'Стать клиентом',
							'isPopupButton': true,
							'href': '#',
							'popup': 'callback',
							'bg': 'img__hero-slider_01.jpg',
						},
						{
							'title': 'Равным образом, высокое качество',
							'button': 'Нажми меня',
							'href': '#',
							'bg': 'img__hero-slider_02.jpg',
						},
						{
							'title': 'Безусловно, дальнейшее развитие различных форм деятельности является качественно новой ступенью',
							'button': 'Не нажимай!',
							'href': '#',
							'bg': 'img__hero-slider_03.jpg',
						}
					])
				+hero-actions([
					{
						'href': 'marker.html',
						'title': 'Биржевой рынок',
						'descr': 'Консультация с широким активом подходит для прогресса сообщества',
						'delay': 1500
					},
					{
						'href': 'catalog.html',
						'title': 'Внебиржевой рынок',
						'descr': 'Вектор развития определяет важность внешнеэкономических политик',
						'delay': 1750
					},
					{
						'href': 'map.html',
						'title': 'Карта базисов',
						'descr': 'Акционеры крупнейших компаний будут разнесены на независимые элементы',
						'delay': 2000
					}
				])
	section.section.production(data-aos='fade-up', data-aos-duration='750', data-aos-delay='2500')
		.grid
			.section__inner.producion__inner
				.production__row
					h2.section__title.production__title Продукция
					a.production__button.button.button_secondary(href='catalog.html') Перейти в каталог
					.production__slider-controls
						.production__slider-arrow.production__slider-prev.swiper-button-prev
							svg.swiper-icon
								use(href='img/svgSprite.svg#icon__shevron_left')
						.production__slider-arrow.production__slider-next.swiper-button-next
							svg.swiper-icon
								use(href='img/svgSprite.svg#icon__shevron_right')
				.production__slider
					+production-slider([
						{
							'title': 'Автомобильный бензин АИ-100-К5 экологического класса К5 марки TANECO-100 «EURO-6» по СТО 78689379-50-2020',
							'subtitle': 'Татнефть',
							'icon': 'petrol',
							'sum': '55 000',
							'pipe': 1,
							'truck': 0,
							'tank': 1
						},
						{
							'title': 'Дизельное топливо АО-12',
							'subtitle': 'Татнефть',
							'icon': 'diesel',
							'sum': '55 000',
							'pipe': 1,
							'truck': 1,
							'tank': 0
						},
						{
							'title': 'Керосин ОМ-4',
							'subtitle': 'Татнефть',
							'icon': 'kerosene',
							'sum': '55 000',
							'pipe': 1,
							'truck': 0,
							'tank': 0
						},
						{
							'title': 'Газовый конденсат ВКК-98',
							'subtitle': 'Татнефть',
							'icon': 'gas',
							'sum': '55 000',
							'pipe': 0,
							'truck': 1,
							'tank': 1
						}
					])
				a.production__button.production__button_mobile.button.button_secondary(href='catalog.html') Перейти в каталог
	section.info(data-aos='fade-up', data-aos-duration='750')
		.grid
			.info__inner
				.info__text #[strong «Энова»] – современная нефтетрейдинговая компания, являющаяся одним из самых надежных и профессиональных поставщиков нефтепродуктов на территории РФ.
				+info-tiles([
					{
						'title': '100',
						'descr': 'надёжных перевозчиков по РФ',
						'icon': 'delivery'
					},
					{
						'title': '5',
						'descr': 'лет опыта работы',
						'icon': 'shield'
					},
					{
						'title': '400',
						'descr': 'покупателей',
						'icon': 'face'
					},
					{
						'title': '100',
						'descr': 'поставщиков',
						'icon': 'cart'
					},
					{
						'title': '50',
						'descr': 'складов хранения топлива',
						'icon': 'oil'
					},
					{
						'title': '80',
						'descr': 'присутствие в регионах РФ',
						'icon': 'pin'
					}
				])
	section.section.services(data-aos='fade-up', data-aos-duration='750')
		.grid
			.section__inner
				h2.section__title Наши услуги
				+services-tiles([
					{'icon': 'oil', 'descr': 'Оптовые поставки нефтепродуктов', 'delay': 500},
					{'icon': 'sign', 'descr': 'Заключение формульных контрактов', 'delay': 750},
					{'icon': 'graph', 'descr': 'Аналитика, консультации и прогнозирование', 'delay': 1000},
					{'icon': 'time', 'descr': 'Отсрочка платежа до 90 дней', 'delay': 1250}
				])
	section.section.partners(data-aos='fade-up', data-aos-duration='750')
		.grid
			.section__inner
				h2.section__title Партнёры компании
				+partners([
					{'logo': 'br', 'delay': 100},
					{'logo': 'sb', 'delay': 200},
					{'logo': 'spb', 'delay': 300},
					{'logo': 'sh', 'delay': 400},
					{'logo': 'gp', 'delay': 500},
					{'logo': 'trn', 'delay': 600},
					{'logo': 'tn', 'delay': 700},
					{'logo': 'rn', 'delay': 800},
					{'logo': 'sng', 'delay': 900},
					{'logo': 'lo', 'delay': 1000}
				])
	section.section.news(data-aos='fade-up', data-aos-duration='750')
		.grid
			.section__inner.news__inner
				.news__row
					h2.section__title.news__title Новости
					a.news__button.button.button_secondary(href='news.html') Все новости
				.news__grid
					+news-tile({
						image: '1',
						title: 'В России нашли новый способ совместить газовую и солнечную энергию',
						lead: 'Эффективный способ усовершенствования углеводородной энергетики за счет солнечной энергии предложили ученые СамГТУ. По их словам, предложенная технология позволит снизить расход метана и сделает солнечную энергетику более рентабельной. Результаты опубликованы в журнале International Journal of Hydrogen Energy',
						date: '22.06.2023',
					})
					+news-tile({
						image: '2',
						title: 'В Турции обнаружены новые нефтяные месторождения',
						lead: 'Эрдоган: на юго-востоке Турции обнаружены новые месторождения нефти',
						date: '19.06.2023',
					})
					+news-tile({
						image: '3',
						title: 'Аналитик дал прогноз, вырастет ли спрос на бензин с началом дачного сезона',
						lead: 'Аналитик Адамидов: спрос на бензин с началом дачного сезона вырастет в пределах 5%',
						date: '19.06.2023',
					})
					+news-tile({
						image: '4',
						title: 'Рейтинг стран Европы по доступности бензина для населения',
						lead: 'Максимальное количество бензина (более двух тысяч литров) на среднюю зарплату можно приобрести в Люксембурге, где цены на топливо относительно невысокие',
						date: '19.06.2023',
					})
				a.news__button.production__button_mobile.button.button_secondary(href='news.html') Все новости
