extends ../pug/layout_default.pug


block pageMain
	section.news-post
		.grid
			.news-post__inner
				.news-post__block
					a.button.button_tertiary.button_prev.news-post__backto(href='news.html')
						svg.button__icon
							use(xlink:href='img/svgSprite.svg#icon__shevron_left')
						| Назад к новостям
				.news-post__info
					h1.news-post__title В России нашли новый способ совместить газовую и солнечную энергию
					.news-post__date 22.06.2023
					img.news-post__image(src='assets/img__news_post.jpg', alt='')
					p.news-post__lead Эффективный способ усовершенствования углеводородной энергетики за счет солнечной энергии предложили ученые СамГТУ. Предложенная технология позволит снизить расход метана и сделает солнечную энергетику рентабельной. Результаты опубликованы в журнале International Journal of Hydrogen Energy.

					.news-post__article
						p Несмотря на успехи в развитии возобновляемых источников энергии, сегодня их доля в энергетическом балансе мировой экономики не превышает нескольких процентов. #[strong Как отмечают специалисты], основным #[em энергоносителем] в ближайшей перспективе останется углеводородное топливо.
						figure
							blockquote
								p Комбинирование традиционных и возобновляемых источников энергии — один из главных способов оптимизации энергетики, который позволит использовать сильные стороны технологий обоих типов
							figcaption
								cite — автор технологии, доцент кафедры промышленной теплоэнергетики СамГТУ Дмитрий Пащенко.
						p Исследователи #[a(href='#') Самарского государственного технического университета] (СамГТУ) предложили метод совместного использования солнечной энергии и природного газа в газотурбинных установках.
						p Абзац перед списком:
						ul
							li Первый пункт списка
							li Второй пункт списка
							li Третий пункт
							li Последний
						p В предложенной схеме солнечная энергия используется для термохимической трансформации углеводородного топлива, объяснили ученые. Результатом такой трансформации является обогащенный водородом газ, который в свою очередь используется в качестве топлива.
						p #[q Применяя в газовых турбинах обогащенный водородом газ, можно, с одной стороны, снизить потребление углеводородного топлива, с другой — увеличить эффективность использования низкопотенциальной солнечной энергии. Также это хороший шаг к снижению выбросов диоксида углерода при сохранении существующих мощностей], — пояснил Пащенко.
						p Абзац перед списком:
						ol
							li Первый пункт списка
							li Второй пункт списка
							li Третий пункт
							li Последний
						p Предложенная технология позволит снизить потребление природного газа на газотурбинных установках на 30%, при этом увеличив эффективность использования солнечной энергии.
						p Проект разработки и оптимизации технологии термохимической регенерации теплоты продуктов сгорания органического топлива был поддержан Российским научным фондом, грант №19-19-00327.
