extends ../pug/layout_default.pug

block pageMain
	section.news-page
		.grid
			.news-page__inner
				h1.page__heading Новости
				.news-page__grid
					+news-tile({
						image: '1',
						title: 'В России нашли новый способ совместить газовую и солнечную энергию',
						lead: 'Эффективный способ усовершенствования углеводородной энергетики за счет солнечной энергии предложили ученые СамГТУ. По их словам, предложенная технология позволит снизить расход метана и сделает солнечную энергетику более рентабельной. Результаты опубликованы в журнале International Journal of Hydrogen Energy',
						date: '22.06.2023',
					})
					+news-tile({
						image: '2',
						title: 'В Турции обнаружены новые нефтяные месторождения',
						lead: 'Эрдоган: на юго-востоке Турции обнаружены новые месторождения нефти',
						date: '19.06.2023',
					})
					+news-tile({
						image: '3',
						title: 'Аналитик дал прогноз, вырастет ли спрос на бензин с началом дачного сезона',
						lead: 'Аналитик Адамидов: спрос на бензин с началом дачного сезона вырастет в пределах 5%',
						date: '19.06.2023',
					})
					+news-tile({
						image: '4',
						title: 'Рейтинг стран Европы по доступности бензина для населения',
						lead: 'Максимальное количество бензина (более двух тысяч литров) на среднюю зарплату можно приобрести в Люксембурге, где цены на топливо относительно невысокие',
						date: '19.06.2023',
					})
					+news-tile({
						image: '2',
						title: 'В Турции обнаружены новые нефтяные месторождения',
						lead: 'Эрдоган: на юго-востоке Турции обнаружены новые месторождения нефти',
						date: '19.06.2023',
					})
					+news-tile({
						image: '3',
						title: 'Аналитик дал прогноз, вырастет ли спрос на бензин с началом дачного сезона',
						lead: 'Аналитик Адамидов: спрос на бензин с началом дачного сезона вырастет в пределах 5%',
						date: '19.06.2023',
					})
					+news-tile({
						image: '4',
						title: 'Рейтинг стран Европы по доступности бензина для населения',
						lead: 'Максимальное количество бензина (более двух тысяч литров) на среднюю зарплату можно приобрести в Люксембурге, где цены на топливо относительно невысокие',
						date: '19.06.2023',
					})

				.news-page__actions
					button.button.button_tertiary.button_prev
						svg.button__icon
							use(href='img/svgSprite.svg#icon__shevron_left')
						| Назад
					button.button.button_next Далее
						svg.button__icon
							use(href='img/svgSprite.svg#icon__shevron_right')
