:root {
	--mint_primary: #33cc99;
	--mint_primary_25p: rgba(51, 204, 153, 0.25);
	--mint_secondary: #66d9b3;
	--mint_tertiary: #99e6cc;
	--mint_quaternary: #ccf2e6;
	--mint_quaternary_25p: rgba(204, 242, 230, 0.25);

	--emerald_primary: #003333;
	--emerald_primary_90p: rgba(0, 51, 51, 0.9);
	--emerald_secondary: #406666;
	--emerald_tertiary: #809999;
	--emerald_quaternary: #bfcccc;

	--white_primary: #ffffff;
	--white_secondary: #f2f2f2;
	--white_tertiary: #e6e6e6;
	--white_quaternary: #d9d9d9;

	--grey_primary: #808080;
	--grey_secondary: #a0a0a0;
	--grey_tertiary: #c0c0c0;
	--grey_quaternary: #dfdfdf;

	--black_primary: #000000;
	--black_secondary: #404040;
	--black_tertiary: #808080;
	--black_quaternary: #BFBFBF;

	--color_black: #000000;
	--color_white: #ffffff;

	--font_base: var(--font_primary);
	--font_primary: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;

	--shadow: 0 1rem 2rem rgba(102, 217, 179, 0.05), 0 0 1rem rgba(102, 217, 179, 0.1);
	--shadow_large: 0 5rem 8rem rgba(51, 204, 153, 0.07), 0 3rem 4rem rgba(51, 204, 153, 0.05), 0 1.5rem 2rem rgba(51, 204, 153, 0.04), 0 .6rem .9rem rgba(51, 204, 153, 0.03), 0 .1rem .4rem rgba(51, 204, 153, 0.02);

	--body_bg: var(--color_white);
	--body_color: var(--color_black);

	--font_size_root: 62.5%;
	--font_size_base: 1.6rem;
	--font_weight_base: 400;

	--line_height_base: 100%;
}

$screen-m:      0 !default;
$screen-t:      576px !default;
$screen-ti:     768px !default;
$screen-tl:     992px !default;
$screen-d:      1280px !default;
$screen-dl:     1440px !default;
$screen-dxl:    1680px !default;

$container-m:   100% !default;
$container-t:   560px !default;
$container-ti:  720px !default;
$container-tl:  960px !default;
$container-d:   1200px !default;
$container-dl:  1400px !default;
$container-dxl: 1600px !default;
