:root {
	--mint_primary: #33cc99;
	--mint_primary_25p: #33cc99;
	--mint_secondary: #66d9b3;
	--mint_tertiary: #99e6cc;
	--mint_quaternary: #ccf2e6;

	--emerald_primary: #003333;
	--emerald_primary_90p: #003333;
	--emerald_secondary: #406666;
	--emerald_tertiary: #809999;
	--emerald_quaternary: #bfcccc;

	--white_primary: #ffffff;
	--white_secondary: #f2f2f2;
	--white_tertiary: #e6e6e6;
	--white_quaternary: #d9d9d9;

	--grey_primary: #808080;
	--grey_secondary: #a0a0a0;
	--grey_tertiary: #c0c0c0;
	--grey_quaternary: #dfdfdf;

	--black_primary: #000000;
	--black_secondary: #404040;
	--black_tertiary: #808080;
	--black_quaternary: #BFBFBF;

	--color_black: #000000;
	--color_white: #ffffff;

	--font_base: var(--font_primary);
	--font_primary: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;

	--shadow: 0 1.8rem 3.14rem rgba(7, 2, 0, 0.0168519);

	//--screen_margin: 1.6rem;
	//--container: calc(100% - (var(--screen_margin) * 2));
	//@media screen and (min-width: $screen-t) {
	//	--screen_margin: 4rem;
	//}
	//@media screen and (min-width: $screen-d) {
	//	--screen_margin: 16.6667%;
	//}

	--body_bg: var(--color_white);
	--body_color: var(--color_black);

	--font_size_root: 62.5%;
	--font_size_base: 1.6rem;
	--font_weight_base: 400;

	--line_height_base: 100%;
}
