// В этом файле должны быть стили для БЭМ-блока grid, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.grid {
	margin: 0 auto;
	width: calc(100vw - 3rem);
	@media screen and (min-width: $screen-t) {
		width: $container-t;
	}
	@media screen and (min-width: $screen-ti) {
		width: $container-ti;
	}
	@media screen and (min-width: $screen-tl) {
		width: $container-tl;
	}
	@media screen and (min-width: $screen-d) {
		width: $container-d;
	}
	@media screen and (min-width: $screen-dl) {
		width: $container-dl;
	}
	@media screen and (min-width: $screen-dxl) {
		width: $container-dxl;
	}
}
