//-
  ВНИМАНИЕ! Этот файл генерируется автоматически.

include ../blocks/footer/footer.pug
include ../blocks/header/header.pug
include ../blocks/hero-actions/hero-actions.pug
include ../blocks/hero-slider/hero-slider.pug
include ../blocks/info-tiles/info-tiles.pug
include ../blocks/nav/nav.pug
include ../blocks/partners/partners.pug
include ../blocks/producion-slider/producion-slider.pug
include ../blocks/product-tile/product-tile.pug
include ../blocks/services-tiles/services-tiles.pug
include ../blocks/shipping/shipping.pug
include ../blocks/side-nav/side-nav.pug
include ../blocks/socials/socials.pug
