// В этом файле должны быть стили для БЭМ-блока catalog-actions, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.catalog-actions {
	display: flex;
	gap: 1.5rem;
	justify-content: center;
	margin-top: 2.5rem;
	@media screen and (min-width: $screen-ti) {
		gap: 2rem;
	}
	@media screen and (min-width: $screen-tl) {
		margin-top: 3.5rem;
	}
	@media screen and (min-width: $screen-dxl) {
		gap: 1.5rem;
	}
	> * {
		flex: 1 0 auto;
	}
}
