//- Все примеси в этом файле должны начинаться c имени блока (select)

mixin select(mod, options, name)
	select.select(class= mod, name= name)
		each option in options
			option(value= option.value)!= option.label
