//- Все примеси в этом файле должны начинаться c имени блока (popup)

mixin popup_callback
	#callback.hystmodal(aria-hidden='true')
		.hystmodal__wrap
			.hystmodal__window.popup.popup_callback(role='dialog' aria-modal='true')
				button.hystmodal__close.popup__close(data-hystclose)
					svg.popup__icon
						use(xlink:href='img/svgSprite.svg#icon__cross')
				form.form
					.form__row
						.form-field
							label.form-field__label Имя
							input.input(type='text', required)
					.form__row
						.form-field
							label.form-field__label Телефон
							input.input(type='tel', required)
					.form__row
						.form-field
							label.form-field__label Электронная почта
							input.input(type='email')
					.form__row
						.form-field
							label.form-field__label Каптча
							.form-field__image
								img.captcha_img(src='assets/img__captcha.jpg' alt='CAPTCHA')
								a.reloadCaptcha Поменять картинку
							input.input(type='text', placeholder='Введите текст с картинки', required)
					.form__row
						button.button.form__button Отправить
					.form__row
						small.form__small Заполняя форму вы даёте согласие на обработку #[a(href='#') персональных данных]

mixin popup_filter
	#filter.hystmodal(aria-hidden='true')
		.hystmodal__wrap
			.hystmodal__window.popup.popup_filter(role='dialog' aria-modal='true')
				button.hystmodal__close.popup__close(data-hystclose)
					svg.popup__icon
						use(xlink:href='img/svgSprite.svg#icon__cross')
				+form_filter('js-map-filter')

mixin popup_filter_catalog
	#filter.hystmodal(aria-hidden='true')
		.hystmodal__wrap
			.hystmodal__window.popup.popup_filter(role='dialog' aria-modal='true')
				button.hystmodal__close.popup__close(data-hystclose)
					svg.popup__icon
						use(xlink:href='img/svgSprite.svg#icon__cross')
				+form_filter

mixin popup_thanks
	#thanks.hystmodal(aria-hidden='true')
		.hystmodal__wrap
			.hystmodal__window.popup.popup_thanks(role='dialog' aria-modal='true')
				button.hystmodal__close.popup__close(data-hystclose)
					svg.popup__icon
						use(xlink:href='img/svgSprite.svg#icon__cross')
				.popup__title Ваша заявка принята!
				.popup__text Мы свяжемся с вами в ближайшнн время
