//- Все примеси в этом файле должны начинаться c имени блока (product-tile)

mixin product-tile(title, subtitle, icon, sum, href, pipe, truck, tank)
	.product-tile
		a.product-tile__title(href= href)!= title
		.product-tile__subtitle!= subtitle
		svg.product-tile__icon
			use(xlink:href='img/svgSprite.svg#icon__solid_' + icon)
		.product-tile__price #[span от] #{sum} ₽
		+shipping('product-tile__shipping', pipe, truck, tank)
