//- Все примеси в этом файле должны начинаться c имени блока (nav)

mixin nav(mods)
	.nav(class= mods)
		a.nav__item(href='#') О компании
		a.nav__item(href='#') Продукция
		a.nav__item(href='#') Карта базисов
		a.nav__item(href='#') Биржевой рынок
		a.nav__item(href='#') Контакты
