//- Все примеси в этом файле должны начинаться c имени блока (nav)

mixin nav(mods)
	.nav(class= mods)
		a.nav__item(href='about.html') О компании
		a.nav__item(href='catalog.html') Продукция
		a.nav__item(href='map.html') Карта базисов
		a.nav__item(href='news.html') Новости
		a.nav__item(href='market.html') Биржевой рынок
		a.nav__item(href='contacts.html') Контакты
