//- Все примеси в этом файле должны начинаться c имени блока (button)

mixin button(text, mods)

	//- Принимает:
	//- text {string} - текст
	//- mods {string} - список модификаторов

	//- Вызов:
		+button('Текст', 'some-mod')

	-
		// список модификаторов
		let allMods = '';
		if(typeof(mods) !== 'undefined' && mods) {
			let modsList = mods.split(',');
			for (let i = 0; i < modsList.length; i++) {
				allMods = allMods + ' button_' + modsList[i].trim();
			}
		}

	.button(class=allMods)&attributes(attributes)
		.button__inner
			block
