//- Все примеси в этом файле должны начинаться c имени блока (hero-action)

mixin hero-actions(items)
	.hero-actions
		each item in items
			a.hero-actions__item(href= item.href)
				.hero-actions__title!= item.title
				.hero-actions__descr!= item.descr
				svg.hero-actions__arrow
					use(xlink:href='img/svgSprite.svg#icon__arrow_right')
