// В этом файле должны быть стили для БЭМ-блока form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.form {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	height: 100%;
	position: relative;
	width: 100%;
	&__row {}
	&__footer {
		background: var(--white_primary);
		border-radius: 0 0 1rem 1rem;
		display: flex;
		gap: 1.5rem;
		width: 100%;
	}
	&__button {
		flex: 1 1 auto;
		padding: 1.5rem;
		width: 100%;
	}
	&__small {
		color: var(--emerald_primary);
		font-size: 1.2rem;
		font-weight: 300;
		letter-spacing: 0.01em;
		line-height: 1.25;
		a {
			color: var(--emerald_primary);
			font-weight: 700;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
